@media (max-width:1099px) {
  .container {
    justify-content: space-evenly;
    grid-gap: 30px;
}

  .footer__about {
    grid-column: 1;
    grid-row: 1;
  }

  .footer__newsletter {
    grid-column: 1;
    grid-row: 2;
  }

  .footer__categories {
    grid-column: 2;
    grid-row: 1;
  }
  
  .footer__service {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width:1024px) {
  /* Menu */
  .icon--mobile {               
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
  }

  /* Mobile Button */
  .mobile__btn {
    display: none;
  }
}

@media (max-width:1023px) {
  /* Menu */
  .notification,
  .topLink,
  .menu--pc,
  .icon__login,
  .icon__recentlyViewed,
  .icon__wishlist {
    position: fixed;
    top: 0;
    transform: translateY(-150%);
  }
  
  .icon {
    width: 60px;
  }

  /* Slider */
  .slider__btn {
    display: none;
  }
  
  .slider__text {
    justify-items: start;
    left: 8%;
  }

  .slider__text h1 {
    font-size: 40px;
  }

  .slider__text p {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .slider__text-btn {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    width: 180px;
    height: 50px;
  }

  /* Feature Categories,Trending This Week, New Arrivals, People Like, Instagram */
  .box {
    margin-top: 60px;
    padding: 0 10px;
  }

  /* Feature Categories */  
  .feature__title h1 {
    font-size: 36px;
  }
  
  .categories__btn {
    width: 120px;
    height: 40px;
    padding: 10px;
  }
  
  .feature__categories-clothing {
    grid-column: 1;
    grid-row: 1/3;
  }
    
  .feature__categories-sunglasses {
    grid-column: 2;
  }
    
  .feature__categories-bags {
    grid-column: 1;
    grid-row: 1/3;
  }
    
  .feature__categories-sneaker {
    grid-column: 2;
  }

  /* Trending This Week, New Arrivals, People Like, Instagram */
  .box__title {
    margin-bottom: 0;
  }
  
  .box__title h1 {
    font-size: 36px;
  }

  .box__title p {
    margin-top: 15px;
  }
  
  /* Trending This Week, New Arrivals, People Like */
  .mobile__btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 0 20px;
  }

  .mobile__btn--prev,
  .mobile__btn--next {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50%;
  }
  
  /* Trending This Week, New Arrivals */
  .box__products {
    margin-top: 0;
    grid-auto-columns: calc(100%/3);
    overflow: hidden;
  }

  /* Trending This Week */
  .trending__text {
    display: none;
  }
  
  .trending__title p {
    display: block;
  }
  
  /* Banner */
  .banner {
    grid-auto-columns: calc(100%/2.5);
    overflow: hidden;
  }
  
  .banner__txt h1 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* People Like */
  .people__txt {
    grid-auto-columns: calc(100%/2);
    overflow: hidden;
  }

  .people__btn {
    display: none;
  }

  /* Instagram */
  .ig__list {
    margin-top: 25px;
  }

  .ig__img>img {
    width: 192px;
    height: 192px;
  }

  /* footer */
  .container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .footer__about {
    grid-column: 1;
    grid-row: 1;
  }

  .footer__about-followShop {
    display: none;
  }

  .footer__newsletter {
    grid-column: 1;
    grid-row: 4;
  }

  .footer__categories {
    grid-column: 1;
    grid-row: 3;
  }
  
  .footer__service {
    grid-column: 1;
    grid-row: 2;
  }

  .footer__about,
  .footer__newsletter,
  .footer__categories,
  .footer__service {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
  }

  .footer__categories>h1,
  .footer__service>h1,
  .footer__newsletter>h1 {
    margin-bottom: 0px;
    padding: 20px 0;
  }
}

@media (max-width:767px) {
  /* Trending */
  .box__products {
    grid-auto-columns: calc(100%/2);
    overflow: hidden;
  }

  /* Banner */
  .banner {
    grid-auto-columns: calc(100%/1.5);
    overflow: hidden;
  }

  /* People Like */
  .people__txt {
    grid-auto-columns: calc(100%/1);
    overflow: hidden;
  }

}