html {
    font-size: 62.5%;
    font-family: Jost;
    /* width: 1920px; */
}

a{
    text-decoration: none;
    color: var(--black);
}

.text-hover-gray:hover {
    color: var(--gray);
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}

.btn-dark {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.btn-light {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

.btn-color {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 0.1rem solid var(--gray);
}

.btn-color:hover {
    border: 0.1rem solid var(--black);
}

/*=== Zoom =================*/
.overflow-hidden {
    overflow: hidden;
}

.img-zoom {
    transition: transform 1s ease-in-out;
}

.img-hidden {
    transition: opacity 0.5s ease-in;
}

.img-change {
    z-index: 10;
    opacity: 0;
    transition: opacity, transform, 1s ease-in-out;
}

.wrapper-zoom:hover .img-zoom {
    transform: scale(1.1);
}
.btn-zoom:hover .img-zoom {
    transform: scale(1.1);
}

.wrapper-hidden:hover .img-hidden {
    opacity: 0;
}

.wrapper-change:hover .img-change {
    opacity: 1;
    transform: scale(1.1);
}

/*=== Pseudo Color =================*/
:root {
    --black: #111111;
    --white: #FFFFFF;
    --red: #D0473E;
    --gray: #555555;
    --silver: #EBEBEB;
    --beige: #DFD3C2;
    --brown: #492919;
}

/*=== Color =================*/
.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-red {
    color: var(--red);
}

.color-gray {
    color: var(--gray);
}

.color-silver {
    color: var(--silver);
}

/*=== Background Color =================*/
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-red {
    background-color: var(--red);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-brown {
    background-color: var(--brown);
}

/*=== Fontsize =================*/
.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-36 {
    font-size: 3.6rem;
}

.fs-45 {
    font-size: 4.5rem;
}

.fs-80 {
    font-size: 8rem;
}

/*=== Font Weight =================*/
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/*=== Text =================*/
.text-center {
    text-align: center;
}

/*=== Relative =================*/
.relative {
    position: relative;
}

/*=== Absolute =================*/
.absolute {
    position: absolute;
}

/*=== Line Height =================*/
.lh{
    line-height: 2rem;
}

.lh-65 {
    line-height: 6.5rem;
}

.lh-80 {
    line-height: 8rem;
}

/*=== Cursor =================*/
.cursor-pointer {
    cursor: pointer;
}

/*=== Display None =================*/
.d-none {
    display: none;
}

/*=== Display Grid =================*/
.d-grif {
    display: grid;
}

.grif-3-col {
    grid-template-columns: 1 1 1;
}

.col-1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

.col-3 {
    grid-column: 3;
    grid-row: 1 / 3;
}

/*=== Display Flex =================*/
.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-wrap: wrap;
}

.col-auto {
    content: "";
}

/*=== Gap =================*/
.gap-5{
    gap: 0.3rem;
}

.gap-10{
    gap: 1rem;
}

.gap-25{
    gap: 2.5rem;
}

.gap-30{
    gap: 3rem;
}

/*=== Justify Content =================*/
.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

/*=== Align Items =================*/
.align-items-end {
    align-items: end;
}

/*=== Text Decoration =================*/
.text-decoration-display{
    text-decoration: underline;
}

/*=== Padding top =================*/
.pt-10{
    padding-top: 1rem;
}

.pt-20{
    padding-top: 2rem;
}

.pt-25{
    padding-top: 2.5rem;
}

/*=== Padding left =================*/
.pl-3{
    padding-left: 0.3rem;
}

.pl-4{
    padding-left: 0.4rem;
}

.pl-5{
    padding-left: 0.5rem;
}

.pl-25{
    padding-left: 2.5rem;
}

.pl-30{
    padding-left: 3rem;
}

/*=== Padding bottoom =================*/
.pb-9{
    padding-bottom: 0.9rem;
}

.pb-10{
    padding-bottom: 1rem;
}

.pb-20{
    padding-bottom: 2rem;
}

/*=== Padding right =================*/
.pr-1{
    padding-right: 0.1rem;
}

.pr-2{
    padding-right: 0.2rem;
}

.pr-5{
    padding-right: 0.5rem;
}

.pr-16 {
    padding-right: 1.6rem;
}

.pr-30{
    padding-right: 3rem;
}

.pr-32{
    padding-right: 3.2rem;
}

.pr-100{
    padding-right: 10rem;
}

/*=== Padding X =================*/
.px-15{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-25{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-35{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.px-47{
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}

.px-48{
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.px-54{
    padding-left: 5.4rem;
    padding-right: 5.4rem;
}

.px-60{
    padding-left: 6rem;
    padding-right: 6rem;
}

/*=== Padding Y =================*/
.py-7{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.py-12{
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}


.py-17{
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.py-20{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/*=== Magin Top =================*/
.mt-2 {
    margin-top: 0.2rem;
}

.mt-4 {
    margin-top: 0.4rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-35 {
    margin-top: 3.5rem;
}

.mt-47 {
    margin-top: 4.7rem;
}

.mt-50 {
    margin-top: 5rem;
}

.mt-80 {
    margin-top: 8rem;
}

.mt-85 {
    margin-top: 8.5rem;
}
/*=== Magin Left =================*/
.ml-5 {
    margin-left: 0.5rem;
}

.ml-9{
    margin-left: 0.9rem;
}

.ml-20{
    margin-left: 2rem;
}

.ml-30{
    margin-left: 3rem;
}

/*=== Magin Bottom =================*/
.mb-200 {
    margin-bottom: 20rem;
}
/*=== Magin Right =================*/
.mr-1 {
    margin-right: 0.1rem;
}

.mr-2 {
    margin-right: 0.2rem;
}

.mr-5{
    margin-right: 0.5rem;
}

.mr-30{
    margin-right: 3rem;
}

/*=== Magin X =================*/
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/*=== Border Side =================*/
.border-bottom{
    border-bottom: solid;
}

/*=== Border Color =================*/
.border-silver{
    border-color: var(--silver);
}

/*=== Border Size =================*/
.border-1{
    border-width: 0.1rem;
}

/*=== Rounded =================*/
.rounded-circle-10 {
    border-radius: 1rem;
}

.rounded-circle-35 {
    border-radius: 3.5rem;
}

/*=== Top =================*/
.top-252 {
    top: 25.2rem;
}

/*=== Left =================*/
.left-0 {
    left: 0rem;
}

.left-145 {
    left: 14.5rem;
}

.left-157 {
    left: 15.7rem;
}

.left-354 {
    left: 35.4rem;
}

/*=== Bottom =================*/
.bottom-8{
    bottom: 0.8rem;
}

.bottom-34{
    bottom: 3.4rem;
}

/*=== Right =================*/
.right-19 {
    right: 1.9rem;
}

/*=== Slider =================*/
.swiper {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 192rem;
    height: 81rem;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet {
    background-color: var(--black) !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2.5rem !important;
}

.swiper-button-prev {
    color: var(--black) !important;
    background-color: var(--white) !important;
    border-radius: 50%;
    padding: 2.2rem 2.5rem;
    font-weight: bold !important;
    left: 3.2rem !important;
    top: 38.4rem !important;
}

.swiper-button-next {
    color: var(--black) !important;
    background-color: var(--white) !important;
    border-radius: 50%;
    padding: 2.2rem 2.5rem;
    font-weight: bold !important;
    right: 3.2rem !important;
    top: 38.4rem !important;
}

.swiper-button-prev:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

.swiper-button-next:hover {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

/*=== Rating =================*/
.rate-input:checked ~ label,
.rate-label:hover,
.rate-label:hover ~ label {
    color: var(--black);
}